<!-- template for error -->
<% layout('layouts/boilerplate') %> 

<!-- create an alert for error -->
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <!-- if application is running of production mode, not show error stack-->
            <!-- only show error stack on development mode -->
            <% if (process.env.NODE_ENV !== "production") { %> 
                <p style="overflow-wrap: break-word;"><%=err.stack%></p>
            <% } %> 
        </div>
    </div>
</div>