<!-- ejs file for register form -->
<% layout('layouts/boilerplate') %> 


<form action="/login" method="POST" class="validated-form" novalidate>
    <div class="col-6 offset-3">
        <h1>LOG IN</h1>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
            <div class="invalid-feedback">
                Please enter a username.
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <div class="invalid-feedback">
                Please enter a password.
            </div>
        </div>
        <button class="btn btn-success">Log In</button>
    </div>
</form>